
$color-primary: red;
$color-secondary: blue;
$color-tertiary: green;
$text-decoration: underline;
$text-align: center;

body{
   display: flex;
   flex-direction: row;
   width: 100%;
    align-items: center;
    justify-items: center;
   

.container { 
    border: 1px solid $color-primary;
    display: flex;
    flex-direction: column;
    width: 95%;
    align-items: center;
    justify-items: center;
   
    

    h1 {
       
        text-align: $text-align;
        text-decoration-color: $color-secondary;
        color: $color-tertiary;
        text-decoration: $text-decoration;
    }
    
    .section {
        display: flex;
        flex-direction: row;
        width: 1500px;
        text-align: $text-align;
       margin-bottom: 20px;
        justify-content: center;    
        

        .red{
            color: $color-primary;
            text-align: $text-align;
            border:  1px solid $color-tertiary;
            width: 300px;
            height: 100px;
}
        
            

       

        .blue {
            color: $color-secondary;
            text-align: $text-align;
            border:  1px solid $color-tertiary;
            width: 300px;
            height: 100px;

}
    
}
 
   
}
}

